@tailwind utilities;
@layer utilities {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .baseBorder {
    @apply flex border-[1.5px] rounded-xl border-solid p-4
  }
}

.pizzas {
  @apply baseBorder gap-2 relative min-w-[500px]
}

.sauces {
  @apply baseBorder flex-col hover:border-[#fff562] wrapper
}

.optional {
  @apply baseBorder hover:border-[#fff562] gap-2 min-w-[230px] text-left wrapper
}

.form {
  @apply flex border-[1.5px] rounded-xl border-solid items-center
}

.pizzaDescription {
  @apply block text-[#686466] font-semibold my-3 text-[13px]
}

.listScroller {
  @apply flex my-7 gap-4 max-w-[500px] overflow-x-scroll pb-2;

  &::-webkit-scrollbar {
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    height: 15px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(57, 57, 57, 0.15);
    border-radius: 8px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(57, 57, 57, 0.25);
  }
}

