@tailwind utilities;
@layer utilities {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .baseBorder {
    @apply flex border-[1.5px] rounded-xl border-solid p-4
  }
}

