@tailwind utilities;
@layer utilities {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dot {
    @apply ml-5 ;
    &:before {
      @apply content-[''] -ml-2 bg-red -translate-x-1/2 -translate-y-1/2 
              absolute top-1/2 w-1 h-1 rounded-full
    }
  }
}

.headerFixed {
  @apply sticky top-0 z-10 bg-white py-5;
}

.yandexIc {
  @apply w-[18px] h-[18px] mr-2 
          bg-[url("/src/assets/img/icons/yandex-food-ic.svg")];
}

.starIc {
  @apply w-[13px] h-[13px] mt-[-3px] ml-1 
          bg-[url('/src/assets/img/icons/star-ic.svg')]
}

.btnCart {
  @apply wrapper gap-8  rounded-lg  relative  py-2  px-7 
          text-[16px] text-bl leading-8 bg-yel
}

.txtCart {
  @apply relative;
  &:after {
    @apply content-[''] -right-4 top-1/2 w-0.5 h-6 block 
            absolute rounded-md bg-bl -translate-y-1/2
  }
}