//------------------------  HERO-STYLES  --------------------------------//

.hero {
  .swiper {
    @apply overflow-visible relative;
    &-button-disabled {
      @apply opacity-50 pointer-events-none;
    }
    &-slide-active .hero__slider-img, &-slide-next .hero__slider-img {
      @apply opacity-100 scale-100 duration-700;
    }
    &-slide-active {
      transform: scale(1.5);
    }
  }

  &__slider {
    &-img {
      @apply opacity-50 duration-500 rounded-xl scale-90 w-[540px] h-[312px];
      background-color: #fcdc4f;
    }
    &-next, &-prev {
      @apply top-1/2 z-10 w-9 h-9 absolute rounded-3xl;
      background: rgba(247, 210, 45, 0.90) url('../../assets/img/icons/arrow-ic.svg') 50% 50% no-repeat;
    }
    &-prev {
      left: -45px;
      transform: translateY(-50%);
    }
    &-next {
      right: -45px;
      transform: translateY(-50%) scaleX(-1);
    }
  }
}